<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="mob_domain_id" value="1" />
    <add key="mob_api_key" value="" />
    <add key="mob_website_domain" value="www.example.com" />
    <add key="mob_servers" value="http://zms/API/" />
  </appSettings>
 

  <system.webServer>
    <modules>
      <add name="MOBModule" type="MOBModule" />
    </modules>
  </system.webServer>
</configuration>